<div class="wrapper">
  <div class="container">
    <h1>Your Cart</h1>
    <!-- <h3>Order number #<%= @order.id %></h3> -->
    <table class="table">
      <thead>
        <tr>
          <th scope="column">Product</th>
          <th scope="column">Quantity</th>
          <th scope="column">Price</th>
          <th scope="column">Total</th>
          <th scope="column">Update Quantity</th>
          <th scope="column">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_items.each do |order| %>
        <% product = Product.find(order.product_id) %>
          <tr>
            <td> <%= link_to product.name, product_path(product) %> </td>
            <td> <%= order.qty %> </td>
            <td> $<%= product.price %> </td>
            <td class="order-item-total"> $<%= order.qty*product.price%> </td>
            <td>
              <%= form_for(order, url: order_item_path(order), method: :patch )  do |f| %>
                <div class='form-group'>
                  <%= f.select :qty, (1..5) %>
                  <%= f.submit "Update", class: "remove-submit-btn-style" %>
                </div>
              <% end %>
            </td>
            <td> <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, order_item_path(order), method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div style="text-align: right">
      <h3>Cart Total = $<%= %></h3>
    </div>
  </div>
</div>

