<div class="wrapper">
	<div class="container">
		<h2><%= @product.name %> | $ <%= @product.price %></h2>
		<h3><%= @product.description %></h3>
    <%= link_to "Edit product", edit_product_path(@product), class: "btn btn-primary" %>
    <%= link_to "Back to all products", products_path, class: "btn btn-primary" %>
	</div>
</div>
